<div class="container" style="padding: 10px;">
    <h1>Commit info taken via API call</h1>
    <button type="button" class="btn btn-custom-danger btn-sm" style= "display: block; margin-left: auto; margin-right: 0;">
    <%= link_to("Update commit data from GitHub","/commits/update_github", class: "nav-link active", style: "text-decoration: none; color: black;")%></button>
    <div class="panel-heading">
		Commit list
	</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>task name</th>
                <th>description</th>
                <th style= "text-align: center;">branch</th>
                <th>task id</th>
                <th>status</th>
                <th>priority</th>
                <th>due date</th>
                <th>created</th>
                <th>closed</th>
            </tr>
        </thead>
        <tbody>
            <% color_status = {'Open' => 'secondary', 'review' =>  'primary', 'Closed' => 'success', 'in_progress' =>  'info' } %>
            <% color_priority = {'low' =>  'secondary', 'urgent' =>  'danger', 'high' =>  'warning', 'normal' =>  'info' } %>
            <% @tasks.each do |task| %>
                <% task.branch.present? ? branch_exist = 1 : branch_exist = 0%>
                <% (branch_exist==1 && task.commits.count!=0 ) ? branch_exist = 2 : branch_exist = 1%>
                <tr data-toggle="collapse" data-target="#task<%= task.id.to_s %>" class="accordion-toggle">
                    <% if branch_exist == 1 %>
                        <td><button class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button></td>
                    <% elsif branch_exist == 2 %>
                        <td><button class="btn btn-default btn-xs"><span class="fa fa-book"></span></button></td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td> <a href="<%= task.url%>" target="_blank"><%= task.name %></a></td>
                    <td><%= task.description %></td>
                    <% b_name = task.branch_id ? Branch.find(task.branch_id).name : nil %>
                    <% b_url = task.branch_id ? Branch.find(task.branch_id).url : "assign_git/#{task.cid}" %>
                    <td style= "text-align: center;"><a href="<%= b_url %>" target="_blank"><%= b_name %><% if b_name.nil?%><i class="fa-solid fa-pen-to-square"></i><% end %></a></td>
                    <td><%= task.cid %></td>
                    <% if task.status.present? %>
                        <td><span class="badge bg-<%= color_status[task.status] %>"><%= task.status %></span></td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if %>
                    <td><span class="badge bg-<%= color_priority[task.priority] %>"><%= task.priority %></span></td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td><%= task.format_due_date %></td>
                    <td><%= task.format_date_created %></td>
                    <td><%= task.format_date_closed %></td>
                </tr>
                <% if task.branch.present? %>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="task<%= task.id.to_s %>">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th>commit message</th>
                                            <th>committer</th>
                                            <th>commit date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if branch_exist == 1%>
                                            <% Commit.where(branch_id: task.branch.id).last(7).sort_by(&:commit_date).reverse.each do |child| %>
                                                <tr>
                                                    <td><a href="<%= child.url %>" target="_blank"><%= child.message %></a></td>
                                                    <td><%= User.find(child.user_id).username %></td>
                                                    <td><%= child.commit_date %></td>
                                                </tr>
                                            <% end %>
                                        <% else%>
                                            <% Commit.for_task(task.id).each do |child| %>
                                                <tr>
                                                    <td><a href="<%= child.url %>" target="_blank"><%= child.message %></a></td>
                                                    <td><%= User.find(child.user_id).username %></td>
                                                    <td><%= child.commit_date %></td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
