<div class="container" style="padding: 10px;">
    <h1>Configure the link of git</h1>
    <hr/>
    <%= form_with url: "/branches/update_git_url", method: :post do |form| %>
    <div class="col-md-12">
    	<div class="panel panel-default">
            <div class="panel-heading">
                All branch
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead >
                        <tr>
                        <th></th>
                        <th>branch name</th>
                        <th style= "text-align: center;">link</th>
                        <th>last commit at</th>
                        <th>last commit by</th>
                        <th>recent #commit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @branches.each do |branch| %>
                        <% if branch.commits.present? %>
                            <tr>
                                <td><a style= "cursor: pointer;" data-toggle="collapse" data-target="#branch<%= branch.id.to_s %>" class="accordion-toggle"><span class="fa fa-eye"></span></a></td>
                                <td><%= branch.name %></td>
                                <td style= "text-align: center;"><% if branch.url.present?  %><%= branch.url  %><% else%>
                                <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;<%= form.url_field :"url#{branch.name}-#{branch.id}", size: "50x5"%><% end %></td>
                                <td><%= Commit.last_commit_at_in_branch(branch.id) %></td>
                                <td><%= Commit.last_commit_by_in_branch(branch.id) %></td>
                                <td><%= Commit.commit_count_in_30d(branch.id) %></td>
                            </tr>

                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="branch<%= branch.id.to_s %>">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr class="info">
                                                            <th>commit message</th>
                                                            <th>committer</th>
                                                            <th>created</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% flag = 1%>
                                                        <% if flag == 1%>
                                                            <% Commit.where(branch_id: branch.id).first(7).each do |child| %>
                                                                <tr>
                                                                    <td><a href="<%= child.url %>"><%= child.message %></a></td>
                                                                    <td><%= User.find(child.user_id).username %></td>
                                                                    <td><%= child.commit_date %></td>
                                                                </tr>
                                                            <% end %>
                                                        <% else%>
                                                            <% Commit.for_task(task.id).each do |child| %>
                                                                <tr>
                                                                    <td><a href="<%= child.url %>"><%= child.message %></a></td>
                                                                    <td><%= User.find(child.user_id).username %></td>
                                                                    <td><%= child.commit_date %></td>
                                                                </tr>
                                                            <% end %>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-custom-success btn-sm" style= "display: block; margin-left: auto; margin-right: 0;">
            <%= form.submit %>
        </button>
    </div>
    <% end %>
</div>
