<div class="container" style="padding: 10px;">
    <h1>User management</h1>
    <button type="button" class="btn btn-custom-success btn-sm" style= "width: 250px;display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
    <%= link_to("GitHub repository setting","/repositories/index", class: "nav-link active", style: "text-decoration: none; color: black;")%></button>
    <% @repositories.each do |repo| %>
        <div class="panel-heading">
            <%= repo.title%>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>username</th>
                    <th>clickup id</th>
                    <th>github id</th>
                    <th>role</th>
                    <th>status</th>
                    <th>created at</th>
                    <th>updated at</th>
                </tr>
            </thead>
            <tbody>
                <% color_status = {'Open' => 'secondary', 'review' =>  'primary', 'Closed' => 'success', 'in_progress' =>  'info' } %>
                <% color_priority = {'low' =>  'secondary', 'urgent' =>  'danger', 'high' =>  'warning', 'normal' =>  'info' } %>
                <% repo.users.each do |user| %>
                    <tr>
                        <td><a href="https://github.com/<%= user.git_username%>" target="_blank"><%= user.username %></a></td>
                        <td><%= user.cid %></td>
                        <td><%= user.gid %></td>
                        <td><%= user.role %></td>
                        <td><%= user.last_status %></td>
                        <td><%= user.format_created_at %></td>
                        <td><%= user.format_updated_at %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
         <button type="button" class="btn btn-custom-danger btn-sm" style= "width: 250px;display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
        <a style= "cursor: pointer;text-decoration: none; color: black;" type="button"  data-toggle="modal" data-target="#modalForm-<%= repo.id.to_s%>">Update user of <%= repo.title%></a></button>
    <% end %>
</div>

<% @repositories.each do |repo| %>
<div class="modal fade" id="modalForm-<%=repo.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="fa-solid fa-refresh"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you want to update users of <%= repo.title%>?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success"><%= link_to("Update","/admin/user_update/#{repo.id.to_s}", class: "nav-link active", style: "text-decoration: none; color: white;", :method=> :delete)%></button>
            </div>
        </div>
    </div>
</div>
<% end %>
