<div class="container" style="padding: 10px;">
    <h1>Git Issue info taken via API call</h1>
    <button type="button" class="btn btn-custom-danger btn-sm" style= "display: block; margin-left: auto; margin-right: 0;">
    <%= link_to("Update issue from GitHub","/git_issues/update", class: "nav-link active", style: "text-decoration: none; color: black;")%></button>
    <div class="panel-heading">
		Issue list of <%= @repo_name%>
	</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>title</th>
                <th>status</th>
                <th>created at</th>
                <th>updated at</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% color_status = {'Not registered' => 'secondary', 'Registered' => 'success' } %>
            <% @issues.each do |issue| %>
                <% status = issue.task_id ? 'Registered' : 'Not registered' %>
                <tr>
                    <td><a href="<%= @url%>/<%= issue.num.to_s%>" target="_blank"><%= issue.title %></a></td>
                    <td><span class="badge bg-<%= color_status[status] %>"><%= status %></span></td>
                    <td><%= issue.format_date_created %></td>
                    <td><%= issue.format_date_updated %></td>
                    <td><% if !issue.task_id  %>
                            <a href="#modalForm-<%=issue.id.to_s%>" data-toggle="modal"><i class="fa-solid fa-paper-plane" style= "color: #008B8B; padding-left: 5px;"></i></a>
                        <% else task= Task.find(issue.task_id)%><a href="<%=task.url%>" target="_blank"><i class="fa-solid fa-external-link" style= "color: #D3D3D3; padding-left: 5px;"></i></a></td>
                        <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<% @issues.each do |issue| %>
    <div class="modal fade" id="modalForm-<%=issue.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div style="width: 50%;">
        <%= render partial:  "task_creation",  locals: {issue: issue} %>
        </div>
    </div>
<% end %>
