<div class="container" style="padding: 10px;">
    <h1>Git Issue info taken via API call</h1>
    <button type="button" class="btn btn-custom-danger btn-sm" style= "display: block; margin-left: auto; margin-right: 0;">
    <%= link_to("Update issue from GitHub","/git_issues/update", class: "nav-link active", style: "text-decoration: none; color: black;")%></button>
    <div class="panel-heading">
		Issue list of <%= @repo_name%>
	</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>title</th>
                <th>status</th>
                <th>created at</th>
                <th>updated at</th>
            </tr>
        </thead>
        <tbody>
            <% color_status = {'Not registered' => 'secondary', 'Registered' => 'success' } %>
            <% @issues.each do |issue| %>
                <% status = issue.task_id ? 'Registered' : 'Not registered' %>
                <tr>
                    <td><a href="<%= @url%>/<%= issue.num.to_s%>" target="_blank"><%= issue.title %></a></td>
                    <td><span class="badge bg-<%= color_status[status] %>"><%= status %></span></td>
                    <td><%= issue.format_date_created %></td>
                    <td><%= issue.format_date_updated %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
