<div class="container" style="padding: 10px;">
<div class="pagetitle">
    <h1>Team report</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Report</a></li>
        <li class="breadcrumb-item active">Team report</li>
    </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <!-- Self scoring -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task statuses <span>| This Week</span></h5>
                    <!-- Select user -->
                    <select id="user-selection">
                        <% @user_list.each do |user| %>
                        <option value="<%= user.id.to_s%>"><%= user.username%></option>
                        <% end %>
                    </select>
                    &nbsp;<button id="btn-user" onclick="selectUser()" class="btn btn-custom-success btn-sm" ><i class="fa-solid fa-play" style="color: white;"></i></button>
                    <!-- End Select user -->
                    <!-- Line Chart -->
                    <div id="teamReportsChart"></div>

                    <script>
                    var apexChart;
                    document.addEventListener("DOMContentLoaded", () => {
                        apexChart = new ApexCharts(document.querySelector("#teamReportsChart"), {
                        series: [
                                {name: 'Help availability',
                                data: ['<%=@availabiity[0]%>', '<%=@availabiity[1]%>', '<%=@availabiity[2]%>', '<%=@availabiity[3]%>', '<%=@availabiity[4]%>']}
                                ,
                            <% @tasks.each_with_index do |task, i|%>
                                {name: '<%= task[:name]%>',
                                data: ['<%=task[:scores][0]%>', '<%=task[:scores][1]%>', '<%=task[:scores][2]%>', '<%=task[:scores][3]%>', '<%=task[:scores][4]%>']}
                                <% if @tasks.count-1 != i%>
                                ,
                                <% end %>
                            <% end %>
                        ],
                        chart: {
                            height: 350,
                            type: 'area',
                            toolbar: {
                            show: false
                            },
                        },
                        markers: {
                            size: 4
                        },
                        colors: ['#FFB6C1', '#4154f1', '#2eca6a', '#ff771d', '#5F9EA0'],
                        fill: {
                            type: "gradient",
                            gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'smooth',
                            width: 2
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: ['<%= @dates[0]%>', '<%= @dates[1]%>', '<%= @dates[2]%>', '<%= @dates[3]%>', '<%= @dates[4]%>']
                        },
                        tooltip: {
                            x: {
                            format: 'dd/MM/yy HH:mm'
                            },
                        }
                        }).render();
                    });

                    const btn_user = document.querySelector('#btn-user');
                    const ub = document.querySelector('#user-selection');

                    var selectedValues;

                    btn_user.onclick = (e) => {
                        e.preventDefault();
                        selectedValues = [].filter
                            .call(ub.options, option => option.selected)
                            .map(option => option.value);
                        // console.log('selected:',selectedValues);
                        updateChart();
                        //apexChart.render();

                    };

                    function updateChart(){
                        var uid = selectedValues[0];
                        $.ajax({
                        url: '/notion/select_user.json',
                        data: {uid: uid},
                        dataType: "json",
                        success: function(response) {
                            console.log(response);
                        var dates = response.dates;
                        var availabiity = response.availabiity;
                        var tasks = response.tasks;
                        // apexChart.updateOptions(document.querySelector("#teamReportsChart"), {
                        try{
                        apexChart.chartOptions = {...this.chartOptions, ...{
                            series: [
                                { name: 'Help availability',
                                  data: [availabiity[0], availabiity[1], availabiity[2], availabiity[3], availabiity[4]] }
                                ,
                                 {
                                    name: tasks[0].name,
                                    data: [tasks[0].scores[0], tasks[0].scores[1], tasks[0].scores[2], tasks[0].scores[3], tasks[0].scores[4]]
                                },
                                {
                                    name: tasks[0].name,
                                    data: [tasks[0].scores[0], tasks[0].scores[1], tasks[0].scores[2], tasks[0].scores[3], tasks[0].scores[4]]
                                },
                                {
                                    name: tasks[0].name,
                                    data: [tasks[0].scores[0], tasks[0].scores[1], tasks[0].scores[2], tasks[0].scores[3], tasks[0].scores[4]]
                                },
                                {
                                    name: tasks[0].name,
                                    data: [tasks[0].scores[0], tasks[0].scores[1], tasks[0].scores[2], tasks[0].scores[3], tasks[0].scores[4]]
                                }
                                // tasks.forEach(function (task, i) {
                                //     {
                                //         name: task.name,
                                //         data: [task.scores[0], task.scores[1], task.scores[2], task.scores[3], task.scores[4]]
                                //     }
                                //     if ( i - 1 != tasks.length ){
                                //         ,
                                //     }
                                // });
                            ],
                                chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                show: false
                                },
                            },
                            markers: {
                                size: 4
                            },
                            colors: ['#FFB6C1', '#4154f1', '#2eca6a', '#ff771d', '#5F9EA0'],
                            fill: {
                                type: "gradient",
                                gradient: {
                                shadeIntensity: 1,
                                opacityFrom: 0.3,
                                opacityTo: 0.4,
                                stops: [0, 90, 100]
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                curve: 'smooth',
                                width: 2
                            },
                            xaxis: {
                                    type: 'datetime',
                                    categories: [dates[0], dates[1], dates[2], dates[3], dates[4]]
                            },
                            tooltip: {
                                x: {
                                format: 'dd/MM/yy HH:mm'
                                },
                            }
                            // xaxis: {
                            //     type: 'datetime',
                            //     categories: [dates[0], dates[1], dates[2], dates[3], dates[4]]
                            // }
                        // });
                        }};
                        //

                        }
                        catch(e){
                        alert(e)
                        }
                        // apexChart.update();
                        // apexChart.series[0].data = [availabiity[0], availabiity[1], availabiity[2], availabiity[3], availabiity[4]];
                        // apexChart.xaxis.categories = [dates[0], dates[1], dates[2], dates[3], dates[4]]
                        // apexChart.update();
                        },
                        error: function(error){console.log(error)}
                        });
                        // console.log('array:', array);
                    }

                    </script>

                    <!-- End Line Chart -->
                </div>
            </div><!-- End Self scoring -->

            <!-- Member availability  -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Member availability <span>| This Week</span></h5>
                    <div class="wrap-circles">
                        <div class="circle per-0">
                            <div class="inner"><%=@users[1]%></div>
                        </div>
                        <div class="circle per-25">
                            <div class="inner"><%=@users[3]%></div>
                        </div>
                        <div class="circle per-50">
                            <div class="inner"><%=@users[5]%></div>
                        </div>
                        <div class="circle per-75">
                            <div class="inner"><%=@users[6]%></div>
                        </div>
                        <div class="circle per-100">
                            <div class="inner"><%=@users[7]%></div>
                        </div>
                    </div>
                </div>
            </div><!-- End Member availability  -->

            <!-- Member help needs  -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Member help needs <span>| This Week</span></h5>
                    <div class="wrap-circles">
                        <div class="circle per-0">
                            <div class="inner"><%=@users[1]%></div>
                        </div>
                        <div class="circle per-25">
                            <div class="inner"><%=@users[3]%></div>
                        </div>
                        <div class="circle per-50">
                            <div class="inner"><%=@users[5]%></div>
                        </div>
                        <div class="circle per-75">
                            <div class="inner"><%=@users[6]%></div>
                        </div>
                        <div class="circle per-100">
                            <div class="inner"><%=@users[7]%></div>
                        </div>
                    </div>
                </div>
            </div><!-- End Member help needs  -->

            <!-- Notion import  -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Importing from Notion&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                            <div class="card-body" style="text-align: center;">
                                    <h6 class="card-title">Daily report&nbsp;<a href="<%= @report_link%>" target="_blank"><i class="fa-solid fa-database"></i></a></h6>
                                    <% if @create_report_db%>
                                        <button type="button" class="btn btn-custom-success btn-sm">
                                        <%= link_to("Create db","/reports/create_report_db",  class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                                    <% else %>
                                        <button type="button" class="btn btn-custom-danger btn-sm">
                                        <%= link_to("Import","/notion/import_daily_reports", class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                            <div class="card-body" style="text-align: center;">
                                    <h6 class="card-title">Daily availability&nbsp;<a href="<%= @availability_link%>" target="_blank"><i class="fa-solid fa-smile"></i></a></h6>
                                    <% if @create_availability_db %>
                                        <button type="button" class="btn btn-custom-success btn-sm">
                                        <%= link_to("Create db","/reports/create_availability_db",  class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                                    <% else %>
                                        <button type="button" class="btn btn-custom-danger btn-sm">
                                        <%= link_to("Import","/notion/import_daily_availabilities", class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Notion import  -->
    </div>
</section>
</div>

<!-- Vendor JS Files -->
<script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/chart.js/chart.min.js"></script>
<script src="../assets/vendor/echarts/echarts.min.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>
