<div class="container" style="padding: 10px;">
    <div class="pagetitle">
      <h1>Daily report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Report</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <div class="card">
        <div class="card-body">
            <%= form_with url: "/branches/update_git_url", method: :post do |form| %>
            <h5 class="card-title">Self scoring&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h5>
            <p>Purpose of this survey is to track the status of each activity and distribute tasks according to the needs of the team. No need to hesitate to ask help if you need, also help out collegues if you have spare time, let's manage our team well altogether!</p>
            <br/>
            <div class="row mb-5">
                <label class="col-sm-2 col-form-label">Date:</label>
                <%= form.date_select :Date_of_Birth, start_year: 2010, end_year: Time.now.year %>
                <div class="col-sm-10">
                <br/>
                     <h5 for="customRange0" class="form-label" style="background-color: #F0F0F0;"><i class="fa-solid fa-chalkboard-user"></i>
                            &nbsp;Task progresses</h5>
                    <br/>
                    <div>
                        <label for="customRange1" class="form-label">TaskA</label>
                        <%= form.range_field :t1, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    <div>
                        <label for="customRange2" class="form-label">Need help for TaskA</label>
                        <%= form.range_field :nh1, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    </br>
                    <div>
                        <label for="customRange3" class="form-label">TaskB</label>
                        <%= form.range_field :t2, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    <div>
                        <label for="customRange4" class="form-label">Need help for TaskB</label>
                        <%= form.range_field :nh2, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    </br>
                    <div>
                        <label for="customRange5" class="form-label">TaskC</label>
                        <%= form.range_field :t3, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    <div>
                        <label for="customRange6" class="form-label">Need help for TaskC</label>
                        <%= form.range_field :nh3, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                    </div>
                    </br>
                    <div>
                        <h5 for="customRange7" class="form-label" style="background-color: #F0F0F0;"><i class="fa-regular fa-handshake"></i>
                            &nbsp;Willing to help others</h5>
                        <br/>
                        <div class="custom-control custom-switch">
                            <div data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <%= form.check_box :active, class: "custom-control-input", id: "customSwitch1" %>
                                <label class="custom-control-label" for="customSwitch1">(enable it if you can!)</label>
                            </div>
                        </div>
                        <br/>
                        <div class="accordian-body collapse" id="demo1">
                            <label for="customRange8" class="form-label">Availability</label>
                            <%= form.range_field :av, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                        </div>
                    </div>
                    <button type="button" class="btn btn-custom-success btn-sm" style= "display: block; margin-left: auto; margin-right: 25px;">
                        <%= form.submit %>
                    </button>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
