<div class="container" style="padding: 10px;">
    <div class="pagetitle">
      <h1>Daily report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Report</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <%= week_calendar do |date| %>
        <% (@register_dates.include? date) ? @color = 'cadetblue' : @color = 'lightpink' %>
        <h5 style= "text-align: center; color:<%=@color%>;"><%=date.month.to_s + ' / ' + date.day.to_s %></h5>
    <% end %>

     <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-custom-success btn-sm" style= "display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
            <%= link_to("Create daily Notion db","/reports/create_daily_db",  class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
            <button type="button" class="btn btn-custom-danger btn-sm" style= "display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
            <%= link_to("Update report in Notion","/reports/update_daily_reports", class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>

            <%= form_with url: "/reports/daily_insert", method: :post do |form| %>
            <h5 class="card-title">Self scoring&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h5>
            <p>Purpose of this survey is to track the status of each activity and distribute tasks according to the needs of the team. No need to hesitate to ask help if you need, also help out collegues if you have spare time, let's manage our team well altogether!</p>
            <br/>
            <div class="row mb-5">
                <label class="col-sm-2 col-form-label">Date:</label>
                <%= form.date_select :Date_of_Birth, start_year: 2010, end_year: Time.now.year %>
                <div class="col-sm-12">
                <br/>
                     <h5 for="customRange0" class="form-label" style="background-color: #F0F0F0;"><i class="fa-solid fa-chalkboard-user"></i>
                            &nbsp;Task progresses</h5>
                    <br/>
                    <% @tasks.each do |task| %>
                    <div>
                        <label for="customRange1" class="form-label">(<%= task.cid%>):<%= task.name%></label>
                        <%= form.range_field :"t-#{task.id}", min: 0, max: 5, class: "form-range", id: "t-#{task.id}", style: "position: absolute; right: 25px; width: 50%;"%>
                    </div>
                    <div>
                        <label for="customRange2" class="form-label">Need help for <%= task.cid%></label>
                        <%= form.range_field :"nh-#{task.id}", min: 0, max: 5, class: "form-range", id: "nh-#{task.id}", style: "position: absolute; right: 25px; width: 50%;"%>
                    </div>
                    <hr/>
                    </br>
                    <% end %>

                    <div>
                        <button type="button" class="btn btn-custom-success btn-sm" style= "display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
                        <%= link_to("Create availability Notion db","/reports/create_availability_db",  class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                        <button type="button" class="btn btn-custom-danger btn-sm" style= "display: block; margin-left: auto; margin-right: 0;margin-bottom: 5px;">
                        <%= link_to("Update availability in Notion","/reports/update_daily_availabilities", class: "nav-link active", style: "text-decoration: none; color: black;", method: :post)%></button>
                        <h5 for="customRange7" class="form-label" style="background-color: #F0F0F0;"><i class="fa-regular fa-handshake"></i>
                            &nbsp;Willing to help others</h5>
                        <br/>
                        <div class="custom-control custom-switch">
                            <div data-toggle="collapse" data-target="#help" class="accordion-toggle">
                                <%= form.check_box :enable, class: "custom-control-input", id: "customSwitch1" %>
                                <label class="custom-control-label" for="customSwitch1">(enable it if you can!)</label>
                            </div>
                        </div>
                        <br/>
                        <div class="accordian-body collapse" id="help">
                            <label for="customRange8" class="form-label">Availability</label>
                            <%= form.range_field :av, min: 0, max: 5, class: "form-range", id: "customRange1", style: "position: absolute; right: 150px; width: 515px;"%>
                        </div>
                    </div>
                    <button type="button" class="btn btn-custom-success btn-sm" style= "display: block; margin-left: auto; margin-right: 25px;">
                        <%= form.submit %>
                    </button>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
