<!DOCTYPE html>
<html>
<head>
  <title>Sentiment tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sentiment tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <%= link_to("Forum","/question/index", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("Reccomender","/recommenders/index", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("Daily report","/reports/daily", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("Tasks","/tasks/show", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("Commits","/commits/index", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("Git link","/commits/update_link", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
            <li class="nav-item">
              <%= link_to("API key","/property_settings/index", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
          </ul>
          <%# right side menu %>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to("Admin","/admin", class: "nav-link active", style: "text-decoration: none; color: black;")%>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<% if flash[:notice]%>
  <div class="flash">
    <%= flash[:notice]%>
  </div>
<% end %>
<%= yield %>

</body>
</html>
